 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" routerLink="/"><h1 class="text-light"><i class="fa-solid fa-cart-shopping ms-3 mt-2 text-light"></i> &nbsp; E CART</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item "><input (keyup)="search($event)"   type="text " placeholder="search your products" class="form-control "> </li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="products/wish-list">Wish List</a></li>
                
                
            </ul>
            <form class="d-flex">
                <a routerLink="products/cart" class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-light text-dark ms-1 rounded-pill">0</span>
                </a>
            </form>
        </div>
    </div>
</nav>