<!-- empty cart -->
<div class="p2" *ngif="cartitems.length==0">
    <div class="container border border-primary m-5 p-5">
        <div class="row text-center">
            <div class="col">
                <img src="https://i.pinimg.com/originals/66/22/ab/6622ab37c6db6ac166dfec760a2f2939.gif" width="200px" alt="">
                <h3 class="mt-3">Your Cart is Empty</h3>
                <button routerLink="/" class="btn btn-primary mt-2">Shop Now</button>
            </div>
        </div>
    </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="container" *ngIf="cartitems.length!=0">
        <div class="row">
            <div class="col">
                <table class="table border border-dark">
                    <thead>
                        <th>NUmber</th>
                        <th>name--</th>
                        <th>image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of cartitems let i=index">
                            <td>{{i+1}}</td>
                            <td>{{product.title}}</td>
                            <td><img [src]="product.image" width="100px" alt=""></td>
                            <td>{{product.description}}</td>
                            <td>${{product.price}}</td>
                            <td><i   (click)="removeitem(product)" class="fa fa-trash text-danger"></i></td>
                        </tr>
                    </tbody>
                </table>
                <div style="float: right;" class="mb-3">
                    <button   (click)="removeall()"  class="btn btn-danger">Empty Cart</button>&nbsp;
                    <button class="btn btn-warning">View More</button>&nbsp;
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Check Out</button>&nbsp;
    
    <b for="">Grand Total:${{grand}}</b>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Check Out Page</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <h2>Delivery Address</h2>
        <form action="" class="form-control">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Address/House No">
            <input type="text" placeholder="Pincode">
            <input type="text" placeholder="State">
            <input type="text" placeholder="Country">
            <input type="text" placeholder="Contact Number">
            <input type="text" placeholder="E-mail Address">
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>