<div class="wrapper">
    <div class="logo">
        <img src="../../assets/images/bank.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        My Bank
    </div>
    <form [formGroup]="registerForm" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <input  formControlName="uname"  type="text" name="userName" id="reg_name" placeholder="Username">
        </div>
        <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched" style="color:red;">Invalid User</div>
        <div class="form-field d-flex align-items-center">
            <input formControlName="acno" type="text" name="Account number" id="reg_acno" placeholder="Account number">
        </div>
        <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched" style="color:red;">Invalid Account Number</div>
        <div class="form-field d-flex align-items-center">
            <input formControlName="pswd" type="password" name="password" id="reg_pswd" placeholder="Password">
        </div>
        <div *ngIf="this.registerForm.get('pswd')?.errors && this.registerForm.get('pswd')?.touched" style="color:red;">Invalid Password</div>
        <button class="btn mt-3" (click)="register()" type="button">Register</button>
    </form>
    <div class="text-center fs-6">
        <!-- <a href="#">Forget password?</a> or -->
            <a routerLink="">Sign in</a> 
    </div>
</div>